<html>
    <title>RapidqubeEpdsSystem</title>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <link rel = "stylesheet" href = "/css/sendasset.css">
        <link rel = "stylesheet" href = "/css/bootstrap.min.css">
    </head>
    <body>
        <div class = "col-md-12 central-first-header text-center">Ministry of consumer affairs, food and public distribution</div>
        <div class = "col-md-12 text-center central-second-header">Government Of Gujarat</div>
        <div class = "container">
        <div class = "row wallet-display-row">
            <div class = "col-md-4"></div>
            <div class = "col-md-4 wallet-display-color">
                <div>
                    <div class = "col-md-12 text-center wallet-text">
                        Asset Wallet
                    </div>
                </div>
                <div class = "">
                    <div class = "col-md-12 text-center wallet-text">
                        1000 kg
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class = "col-md-6 offset-md-3 asset-use-first text-left">
            1. Send assets
        </div>
        <div class = "container send-container-margin">
            <div class = "row">
                <div class = "col-md-6 offset-md-3">
                    <div class = "row">
                        <div class = "col-md-5 destination-label text-left">
                            ID of FPS
                        </div>
                        <div class = "col-md-7">
                            <input type = "text" class = "input-text-size"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "container send-container-margin">
            <div class = "row">
                <div class = "col-md-6 offset-md-3">
                    <div class = "row">
                        <div class = "col-md-5 destination-label text-left">
                            Quantity(In kg)
                        </div>
                        <div class = "col-md-7">
                            <input type = "text" class = "input-text-size"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-md-2 offset-md-5">
            <button id = "sendtostate" class = "send-button">Send</button>
        </div>
    </body>
</html>